.recipe {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
